{% extends "base.twig" %}

{% block content %}
<main class="container">

    <div class="row">
        {% for contributor in contributors %}
        <div class="col-4">
            <article>
                {% if contributor.image %}
                <div class="mb-2">
                    <img class="img-thumbnail" src="{{contributor.image}}" />
                </div>
                {% endif %}
                {% if contributor.thumbnail %}
                <div class="mb-2">
                    <img class="img-thumbnail" src="{{contributor.thumbnail}}" />
                </div>
                {% endif %}
                <h3>
                    {{contributor.title}}
                </h3>
                <div>
                    <span class="font-weight-bold small" href="{{contributor.caption}}">{{contributor.caption}}</span>
                </div>
                <div>
                    {{contributor.description}}
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
