{% extends "base.twig" %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{ title }}</h1>
            <div>
                {{ content|raw }}
            </div>
        </div>
    </div>

    <div class="row">
        {% if posts|length > 0 %}
        {% for post in posts %}
        <div class="col-6">
            <article>
                <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
                <div>
                    {{ post.preview }}
                </div>
            </article>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12">
            <p>No results found.</p>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}
